<%= form_for([@company, @job_post], url: (@job_post.new_record? ? company_job_posts_path(@company) : company_job_post_path(@company, @job_post))) do |f| %>

    

   <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :contract_type %><br />
    <%= f.text_field :contract_type %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :salary %><br />
    <%= f.number_field :salary %>
  </div>

  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tag_list %>
  </div>

  <div class="actions">
    <%= f.submit @job_post.new_record? ? "Create Job Post" : "Update Job" %>
  </div>



<% end %>