<!DOCTYPE html>
<html>
<head>
  <title>Ironjobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar navbar-default" >
    	<%= render 'layouts/header' %>
    </header>

   <div ng-controller="alertsController" class="ng-scope">
   		<%= render 'layouts/alerts' %>
   	</div>

   	<div class="container padding_top padding_bottom">

   			<section class="content center padding_top padding_bottom ng-scope">

   				<%= yield %>

   			</section>
   	</div>


	<footer >
    	<%= render 'layouts/footer' %>
    </footer>

</body>
</html>
