<!DOCTYPE html>
<html>
<head>
  <title>Ironjobs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar navbar-default" >
    	<%= render 'layouts/header' %>
    </header>


   <% if params[:controller] == "dashboard" %>
   	<%=  render 'dashboard/notifications' %>
   <% end %>

   <% if flash.any? %>

   	<%= render 'layouts/flash' %>

   <% end %>



   <div class="container padding_top padding_bottom">

   		<%= yield %>


   </div>


	



	<%= render 'layouts/footer' %>

</body>
</html>
